//media-queries
$accent_color: #f12d15;
$btn_background: #f12d15;
$btn_text: #ffffff;
$primary-text_color: #212121;
$secondary-text_color: #ffffff;
$third-text_color: #7a7a7a;
$accent-bg_color: #ad2312;
$box-bg_color: #ffffff;
