<section class="first">
  <div class="container">

    <h2 class="first__title">Как разбогатеть, если нечего продавать?<br>
      <span class="first__title--part">Ответ:</span> стать инвестором
    </h2>

    <div class="first__box first__box-one">
      <h3 class="first__box-title">Продавец</h3>
      <ul class="first__box-list">
        <li class="first__box-list-item">1. Сам производит товар</li>
        <li class="first__box-list-item">2. Размещает предложение в магазине</li>
        <li class="first__box-list-item">3. Зарабатывает только в случае продажи</li>
        <li class="first__box-list-item">4. Платит комиссию Wildberries</li>
      </ul>
    </div>

    <div class="first__box first__box-two">
      <h3 class="first__box-title">Инвестор</h3>
      <ul class="first__box-list">
        <li class="first__box-list-item">1. Покупает акции Wildberries</li>
        <li class="first__box-list-item">2. Ждет праздничных распродаж</li>
        <li class="first__box-list-item">3. Зарабатывает на автопилоте</li>
        <li class="first__box-list-item">4. Не платит комиссию</li>
      </ul>
    </div>

  </div>
</section>