<section class="fourth">
  <div class="container">
    <div class="fourth__text-box">
      <h2 class="fourth__title">WILDBERRIES + ВТБ = ПРАЗДНИК</h2>
      <p class="fourth__text">Wildberries поздравляет вас с наступающим 2022-м годом
        <br><br>
        В честь праздника мы приготовили для вас подарок:
      </p>
      <p class="fourth__date-text">Бесплатная регистрация для всех новых инвесторов до 14 января 2022 года</p>
    </div>

    <img src="../img/fourth/fourth_tree-img.png" alt="" class="fourth__img">
  </div>
</section>

<section class="fourth-mob">

</section>