<section class="header">

  <div class="container">
    <div class="header__logo">
      <img src="../img/header/logo-desk.png" alt="" class="header__logo-desk">
      <img src="../img/header/logo-mob.png" alt="" class="header__logo-mob">
    </div>
  </div>


  <div class="header__hero-box">
    <div class="container">
      <div class="header__video-container">
        <video id="video" autoplay muted controls src="https://wtcprojects.com/video/tinkoff_v5.mp4" loop preload="auto"
          class="header__video"></video>
      </div>

      <div class="header__title-box">
        <h1 class="header__title">Зарабатывай на крупных брендах в режиме автопилота</h1>
        <p class="header__text">Новогоднее объединение от Wildberries и ВТБ — самые быстрые и безопасные инвестиции в
          России
        </p>
        <button type="button" class="header__btn">Я ГОТОВ</button>
      </div>
    </div>
  </div>


  <div class="marquee">
    <div>
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-desk">
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-mob">
    </div>
    <div>
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-desk">
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-mob">
    </div>
    <div>
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-desk">
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-mob">
    </div>
    <div>
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-desk">
      <img src="../img/header/header_slide1.png" alt="" class="marquee__slide-mob">
    </div>
  </div>

</section>