<section class="second">
    <div class="container">
        <h2 class="second__title">Как это работает?</h2>

        <ul class="second__list">
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img1"></use>
                </svg>
                <p class="second__list-title">Вы инвестируете</p>
                <p class="second__list-text">То есть покупаете акции Wildberries</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img2" class="second__list-arrow"></use>
                </svg>
                <p class="second__list-title">Продавец продает товар</p>
                <p class="second__list-text">Каждый товар — это потенциальная прибыль</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img3"></use>
                </svg>
                <p class="second__list-title">Покупатель покупает товар</p>
                <p class="second__list-text">А Wildberries зарабатывает за счет комиссии</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img4"></use>
                </svg>
                <p class="second__list-title">Акции Wildberries растут в цене</p>
                <p class="second__list-text">Акции Wildberries растут в цене</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img5"></use>
                </svg>
                <p class="second__list-title">Запускается система ВТБ</p>
                <p class="second__list-text">Она распределяет прибыль между инвесторами</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
            <li class="second__list-item">
                <svg class="second__list-img">
                    <use href="../img/sprite.svg#icon-second__img6"></use>
                </svg>
                <p class="second__list-title">Вы получаете дивидендные выплаты</p>
                <p class="second__list-text">Средний заработок — от $1700 в месяц</p>
                <img src="../img/second/second_item-arrow.png" alt="" class="second__list-arrow">
            </li>
        </ul>
    </div>
</section>