<section class="third">
  <div class="container">
    <h2 class="third__title">ВТБ вложил в маркетплейс<br>
      <span class="third__title--part">120 млрд рублей</span><br>
      став крупнейшим инвестором за всю историю
    </h2>

    <p class="third__list-title">Это позволило:</p>
    <ul class="third__list">
      <li class="third__list-item">
        <img src="../img/third/third_img1.png" alt="" class="third__list-img">
        <p class="third__list-text">Построить крупнейшую инвестиционную платформу</p>
      </li>
      <li class="third__list-item">
        <img src="../img/third/third_img2.png" alt="" class="third__list-img">
        <p class="third__list-text">Обеспечить пассивный заработок для 270 тысяч россиян</p>
      </li>
      <li class="third__list-item">
        <img src="../img/third/third_img3.png" alt="" class="third__list-img">
        <p class="third__list-text">Создать более 2 миллионов рабочих мест</p>
      </li>
    </ul>
  </div>
</section>